<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Administración de Inventarios</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="card">
    <h1>Administración de Inventario</h1>

    <!-- Mensajes de confirmación -->
    <div th:if="${mensaje}" class="msg" th:classappend="${tipo == 'success' ? 'ok' : 'error'}" style="display:block;">
        <span th:text="${mensaje}"></span>
    </div>

    <div class="actions">
        <a class="btn" href="/">Volver</a>
        <a class="btn" href="/inventario/crear">Crear Inventario</a>
    </div>

    <table>
        <thead>
        <tr>
            <th>Categoria</th>
            <th>Descripcion</th>
            <th>Cantidad</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="inventario : ${listaInventario}">
                <td th:text="${inventario.categoria}">Categoria</td>
                <td th:text="${inventario.descripcion}">Descripcion</td>
                <td th:text="${inventario.cantidad}">Cantidad</td>
                <td>
                    <div class="acciones">
                        <a class="btn btn-acciones" th:href="@{/inventario/modificar/{id}(id=${inventario.id})}">Modificar</a>
                        <form style="display:inline;" th:action="@{/inventario/eliminar/{id}(id=${inventario.id})}" method="post" 
                              th:onsubmit="'return confirm(\'¿Estás seguro de que deseas eliminar este inventario?\');'">
                            <input type="hidden" name="_method" value="delete" />
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <button type="submit" class="btn btn-acciones">Eliminar</button>
                        </form>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
