grpc-client/app/__pycache__/
grpc-client/app/crud/__pycache__/
grpc-client/app/proto/__pycache__/
grpc-client/app/services/__pycache__/
grpc-gateway/.gitattributes
grpc-gateway/target/**
grpc-gateway/.idea

*.cpython-313.pyc
*.pyc