<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Confirmar Baja de Evento</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>
<body>
  <div class="container">
    <h1>Confirmar Baja</h1>
    <p>¿Seguro que deseas dar de baja el evento <b th:text="${evento.nombre}">Evento</b>?</p>
    <form th:action="@{'/eventos/eliminar/' + ${evento.id}}" method="post">
    <button type="submit" class="btn btn-confirm">Sí, eliminar</button>
    <a href="/eventos" class="btn btn-cancel">Cancelar</a>
</form>

  </div>
</body>
</html>
